@use "../../styles/variables" as *;

.techConstellation {
  position: relative;
}

.header {
  text-align: center;
}

.title {
}

.subtitle {
}

.nodes {
  display: flex;
  flex-wrap: wrap;
}

.node {
}

.nodeIcon {
}

.nodeName {
}

.nodeNote {
}
